$tablet: 768px;
$desktop: 1200px;

$gilroy-l: "Gilroy-l", Arial, sans-serif;
$gilroy-r: "Gilroy-r", Arial, sans-serif;
$gilroy-s: "Gilroy-s", Arial, sans-serif;
$inter: "Inter", Arial, sans-serif;

$dark-color: #252525;
$white-bg: #f5f3ea;
$white: #ffffff;