.album {
    padding: 0;
    margin: 0;
    list-style: none;
}

.album__item:not(:last-child) {
    margin-bottom: 21px;

    @media(min-width: $tablet) {
        margin-bottom: 28px;
    }
    @media(min-width: $desktop) {
        margin-bottom: 0;
    }
}

.album__link {
    display: block;

}

.album__image {
    display: block;
    width: 100%;
}

.album__block {
    display: flex;
    flex-direction: column;
}

.album__block--first{
    @media(min-width: $desktop) {
        order: 1;
    }
}