.clients {
  padding-top: 30px;
  padding-bottom: 23px;

  @media (min-width: $tablet) {
    padding-top: 39px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-bottom: 56px;
  }
}

.clients__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 42px;
  justify-content: center;

  @media (min-width: $tablet) {
    margin: 0 auto;
    gap: 20px 22px;
    max-width: 891px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding: 42px 40px 42px;
    box-sizing: border-box;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    max-width: unset;
    gap: 20px 31px;
  }
}


.clients__item {}

.clients__link {
  display: inline-block;
  background-color: $white;
  padding: 15px 38px;
  border-radius: 31px;

  @media (min-width: $tablet) {
    padding: 0 38px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media(min-width: $desktop) {
    padding: 0 18px;
    height: 51px;
  }
}

.clients__link img {
  @media(min-width: $desktop) {
    display: block;
    height: 25px;
  }
}

.clients__logo {}