.contact__title {
    margin: 0;
    padding: 0;
    font-family: $gilroy-l;
    font-weight: 300;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.contact__story {
    margin: 0;
    padding: 0;
    font-family: $gilroy-s;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.contact__info {
    margin: 0;
    padding: 0;
    font-family: $gilroy-r;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.contact__touch {}