.join {
    @media(min-width: $desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.join__title {
    margin: 0 0 16px;
    padding: 0;
    font-family: $gilroy-l;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    @media(min-width: $tablet) {
        margin: 0 0 14px;
        text-align: left;
    }
}

.join__branding {
    margin: 0 0 19px;
    padding: 0 0 0;
    font-family: $gilroy-s;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;

    @media(min-width: $tablet) {
        font-size: 64px;
        line-height: 78px;
        text-align: left;
    }

    @media(min-width: $desktop) {
        font-size: 27px;
        line-height: 36px;
    }

}

.join__job {}

.join__link {
    width: 100%;

    @media(min-width: $tablet) {
        width: auto;
    }
}